.chartContainer {
    width: 100% !important;
    height: 600px !important;
    margin-bottom: var(--spacing12) !important;
}

.chartContainer {
    overflow-x: scroll !important;
}

.chartContainer :global(.recharts-cartesian-axis) {
    display: none !important;
}   
