.container {
    padding: var(--spacing3) var(--spacing) var(--spacing) var(--spacing);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: var(--spacing6);
}