.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: var(--spacing4);
    padding-bottom: var(--spacing4);
    background-color: var(--light-purple);
}

.link {
    color: var(--black);
}

.copyright {
    font-size: 0.8rem;
}